@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  background-color: #34495e;
  font-family: "Roboto Serif", sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  width: 2px;
  background: #f1f1f1;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@mixin button($primColor, $hoverColor, $textColor) {
  background-color: $primColor;
  color: $textColor;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: $hoverColor;
  }
}

@mixin player($color) {
  background-color: $color;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: inset 5px 5px;
}

#board {
  margin: auto auto;
  width: 60vw;
  height: 80vh;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  div {
    flex: 1;
    // width: 7.5vw;
    // height: 10vh;
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    div {
      width: 7.5vw;
      height: 10vh;
    }
  }
}

.dark {
  background-color: #95afc0;
}
.light {
  background-color: #dff9fb;
}

.red-player {
  @include player((red));
}

.blue-player {
  @include player((blue));
}
.indicator {
  @include player(#535c68);
}

.input-field-container {
  width: 60vw;
  height: 80vh;
  margin: 4.5% auto;
  background-color: #535c68;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    color: #dff9fb;
    text-align: center;
  }
  form {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    label {
      color: #dff9fb;
      margin-right: 15%;
    }
  }

  .login-buttons-div {
    button {
      @include button(#eccc68, #ffa502, #57606f);
      margin-top: 8%;
    }
  }
  .submit-button {
    @include button(#a3cb38, #c4e538, #dff9fb);
  }
  .guest-button {
    @include button(#0652dd, #1289a7, #dff9fb);
  }
}

.game-options-menu {
  width: 80vw;
  height: 80vh;
  margin: 4.5% auto;
  background-color: #535c68;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .generate-token {
    @include button(#eccc68, #ffa502, #57606f);
    margin-top: 8%;
  }
  .play-localy {
    @include button(#9c88ff, #0097e6, #57606f);
    margin-top: 8%;
  }
  .join {
    @include button(#7f8fa6, #487eb0, #e1b12c);
    margin-top: 8%;
  }
  .game-token {
    color: #1289a7;
    span {
      font-weight: 800;
      color: #0652dd;
    }
  }

  .stats-graph {
    width: 180px;
    height: 180px;
  }
  .go-to-customize {
    position: absolute;
    top: 10%;
    right: 10%;
    button {
      @include button(white, #3498db, black);
    }
  }
}
.scores-history {
  border-radius: 2%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-start;
  top: 100px;
  border: 2px solid #3498db;
  background-color: #ecf0f1;
  width: 20vw;
  max-height: 50vh;
  overflow-y: scroll;
  h2 {
    color: #535c68;
  }
}

.game-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  height: 40vh;
  background-color: #5a6470;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .player {
    margin-top: 10%;
    .one {
      color: darkred;
    }
    .two {
      color: darkblue;
    }
  }
}

.log-out-of-game {
  position: absolute;
  right: 0;
  top: 0;
  width: 5vw;
  button {
    @include button(darkred, magenta, white);
  }
}

.open-chat {
  cursor: pointer;
}

.chat-dialog {
  position: absolute;
  left: -300%;
  top: 50%;
  .messages-area {
    background-color: #95afc0;
    padding: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .message {
      font-size: 0.75rem;
      border: solid 1px black;
      border-radius: 2rem;
      padding: 20%;
      margin-bottom: 10%;
      width: 100%;
      .sender {
        font-weight: 600;
      }
    }
  }
}

.unseen-messages-counter {
  background-color: #eb4d4b;
  color: #ecf0f1;
  border-radius: 100%;
  position: absolute;
  padding: 20%;
  left: 0;
  top: 100%;
}

.custom-alert {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 30vw;
  height: 30vh;
  background-image: url("/src/assets/checkers-background.jpg");
  color: darkred;
  border-radius: 2%;
  div {
    background-color: #0097e6;
    border-radius: 2%;
    h2 {
      background-color: #0097e6;
    }
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    @include button("red", "violet", "white");
  }
}

.customizee-screen {
  background-color: #1289a7;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
  h1 {
    text-align: center;
  }
  .selectors-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    button {
      @include button(#2ecc71, #27ae60, white);
      padding: 1% 2%;
    }
  }
  .go-back-button {
    @include button(#e74c3c, red, white);
    padding: 1% 2%;
  }
}

.generic-selector-div {
  select {
    outline: none;
    border: none;
    min-height: 10px;
    font-family: inherit;
    padding: 0.25%;
    background-color: #3498db;
    transition: 0.75s;
    &:focus {
      background-color: #1289a7;
    }
  }
}

.timer {
  padding: 5px;
  border: 1px solid black;
  background-color: #34495e;
  color: #2ecc71;
  font-weight: 600;
  font-family: "VT323", monospace;
  width: 100px;
  text-align: center;
  font-size: larger;
}

dialog {
  button {
    @include button(black, black, white);
  }
}
