@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  background-color: #34495e;
  font-family: "Roboto Serif", sans-serif;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  width: 2px;
  background: #f1f1f1;
}

#root {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

#board {
  margin: auto auto;
  width: 60vw;
  height: 80vh;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#board div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid black;
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

#board div div {
  width: 7.5vw;
  height: 10vh;
}

.dark {
  background-color: #95afc0;
}

.light {
  background-color: #dff9fb;
}

.red-player {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: inset 5px 5px;
          box-shadow: inset 5px 5px;
}

.blue-player {
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: inset 5px 5px;
          box-shadow: inset 5px 5px;
}

.indicator {
  background-color: #535c68;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-box-shadow: inset 5px 5px;
          box-shadow: inset 5px 5px;
}

.input-field-container {
  width: 60vw;
  height: 80vh;
  margin: 4.5% auto;
  background-color: #535c68;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-field-container h1 {
  color: #dff9fb;
  text-align: center;
}

.input-field-container form {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-field-container form label {
  color: #dff9fb;
  margin-right: 15%;
}

.input-field-container .login-buttons-div button {
  background-color: #eccc68;
  color: #57606f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.input-field-container .login-buttons-div button:hover {
  background-color: #ffa502;
}

.input-field-container .submit-button {
  background-color: #a3cb38;
  color: #dff9fb;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.input-field-container .submit-button:hover {
  background-color: #c4e538;
}

.input-field-container .guest-button {
  background-color: #0652dd;
  color: #dff9fb;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.input-field-container .guest-button:hover {
  background-color: #1289a7;
}

.game-options-menu {
  width: 80vw;
  height: 80vh;
  margin: 4.5% auto;
  background-color: #535c68;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game-options-menu .generate-token {
  background-color: #eccc68;
  color: #57606f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.game-options-menu .generate-token:hover {
  background-color: #ffa502;
}

.game-options-menu .play-localy {
  background-color: #9c88ff;
  color: #57606f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.game-options-menu .play-localy:hover {
  background-color: #0097e6;
}

.game-options-menu .join {
  background-color: #7f8fa6;
  color: #e1b12c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.game-options-menu .join:hover {
  background-color: #487eb0;
}

.game-options-menu .game-token {
  color: #1289a7;
}

.game-options-menu .game-token span {
  font-weight: 800;
  color: #0652dd;
}

.game-options-menu .stats-graph {
  width: 180px;
  height: 180px;
}

.game-options-menu .go-to-customize {
  position: absolute;
  top: 10%;
  right: 10%;
}

.game-options-menu .go-to-customize button {
  background-color: white;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.game-options-menu .go-to-customize button:hover {
  background-color: #3498db;
}

.scores-history {
  border-radius: 2%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 100px;
  border: 2px solid #3498db;
  background-color: #ecf0f1;
  width: 20vw;
  max-height: 50vh;
  overflow-y: scroll;
}

.scores-history h2 {
  color: #535c68;
}

.game-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  height: 40vh;
  background-color: #5a6470;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-info .player {
  margin-top: 10%;
}

.game-info .player .one {
  color: darkred;
}

.game-info .player .two {
  color: darkblue;
}

.log-out-of-game {
  position: absolute;
  right: 0;
  top: 0;
  width: 5vw;
}

.log-out-of-game button {
  background-color: darkred;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.log-out-of-game button:hover {
  background-color: magenta;
}

.open-chat {
  cursor: pointer;
}

.chat-dialog {
  position: absolute;
  left: -300%;
  top: 50%;
}

.chat-dialog .messages-area {
  background-color: #95afc0;
  padding: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-dialog .messages-area .message {
  font-size: 0.75rem;
  border: solid 1px black;
  border-radius: 2rem;
  padding: 20%;
  margin-bottom: 10%;
  width: 100%;
}

.chat-dialog .messages-area .message .sender {
  font-weight: 600;
}

.unseen-messages-counter {
  background-color: #eb4d4b;
  color: #ecf0f1;
  border-radius: 100%;
  position: absolute;
  padding: 20%;
  left: 0;
  top: 100%;
}

.custom-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 30vw;
  height: 30vh;
  background-image: url("/src/assets/checkers-background.jpg");
  color: darkred;
  border-radius: 2%;
}

.custom-alert div {
  background-color: #0097e6;
  border-radius: 2%;
}

.custom-alert div h2 {
  background-color: #0097e6;
}

.custom-alert img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.custom-alert button {
  background-color: "red";
  color: "white";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.custom-alert button:hover {
  background-color: "violet";
}

.customizee-screen {
  background-color: #1289a7;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2%;
}

.customizee-screen h1 {
  text-align: center;
}

.customizee-screen .selectors-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
}

.customizee-screen .selectors-div button {
  background-color: #2ecc71;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  padding: 1% 2%;
}

.customizee-screen .selectors-div button:hover {
  background-color: #27ae60;
}

.customizee-screen .go-back-button {
  background-color: #e74c3c;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  padding: 1% 2%;
}

.customizee-screen .go-back-button:hover {
  background-color: red;
}

.generic-selector-div select {
  outline: none;
  border: none;
  min-height: 10px;
  font-family: inherit;
  padding: 0.25%;
  background-color: #3498db;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.generic-selector-div select:focus {
  background-color: #1289a7;
}

.timer {
  padding: 5px;
  border: 1px solid black;
  background-color: #34495e;
  color: #2ecc71;
  font-weight: 600;
  font-family: "VT323", monospace;
  width: 100px;
  text-align: center;
  font-size: larger;
}
/*# sourceMappingURL=main.css.map */