@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200&display=swap");
body {
  background: #f6e58d;
  font-family: "Roboto Serif", sans-serif;
}

#board {
  margin: auto auto;
  width: 60vw;
  height: 80vh;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#board div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid black;
  border-collapse: collapse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#board div div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.dark {
  background-color: #95afc0;
}

.light {
  background-color: #dff9fb;
}

.red-player {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.blue-player {
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.indicator {
  background-color: #535c68;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  cursor: pointer;
}

.input-field-container {
  width: 80vw;
  height: 80vh;
  margin: 4.5% auto;
  background-color: #535c68;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-field-container h1 {
  color: #dff9fb;
  text-align: center;
}

.input-field-container form {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-field-container form label {
  color: #dff9fb;
  margin-right: 15%;
}

.input-field-container .login-buttons-div button {
  background-color: #eccc68;
  color: #57606f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.input-field-container .login-buttons-div button:hover {
  background-color: #ffa502;
}

.input-field-container .submit-button {
  background-color: #a3cb38;
  color: #dff9fb;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.input-field-container .submit-button:hover {
  background-color: #c4e538;
}

.input-field-container .guest-button {
  background-color: #0652dd;
  color: #dff9fb;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.input-field-container .guest-button:hover {
  background-color: #1289a7;
}

.game-options-menu {
  width: 80vw;
  height: 80vh;
  margin: 4.5% auto;
  background-color: #535c68;
  border-radius: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game-options-menu .generate-token {
  background-color: #eccc68;
  color: #57606f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.game-options-menu .generate-token:hover {
  background-color: #ffa502;
}

.game-options-menu .play-localy {
  background-color: #9c88ff;
  color: #57606f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.game-options-menu .play-localy:hover {
  background-color: #0097e6;
}

.game-options-menu .join {
  background-color: #7f8fa6;
  color: #e1b12c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
}

.game-options-menu .join:hover {
  background-color: #487eb0;
}

.game-options-menu .game-token {
  color: #1289a7;
}

.game-options-menu .game-token span {
  font-weight: 800;
  color: #0652dd;
}

.game-options-menu .stats-graph {
  width: 180px;
  height: 180px;
}

.scores-history {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: 100px;
  border: 2px solid #3498db;
  background-color: #ecf0f1;
  width: 20%;
}

.scores-history h1 {
  color: #535c68;
}

.game-info {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  height: 30vh;
  background-color: #535c68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.game-info .player .one {
  color: darkred;
}

.game-info .player .two {
  color: darkblue;
}

.log-out-of-game {
  position: absolute;
  right: 0;
  top: 0;
  width: 5vw;
}

.log-out-of-game button {
  background-color: darkred;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2%;
  border: none;
  outline: none;
  padding: 5% 15%;
  text-align: center;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
}

.log-out-of-game button:hover {
  background-color: magenta;
}
/*# sourceMappingURL=main.css.map */